.postAddForm {
    background-color: white;
    /* position: fixed; */
    position: absolute;
    right: 1.7%;
    top: 34%;
    overflow: hidden;
    z-index: 150;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;
}

.advertising {
    /* position: absolute; */
    position: fixed;
    /* right: 13px; */
    /* bottom: 34px; */
    bottom: 75px;
    margin-left: -1px;
    /* position: inherit; */
    /* margin-bottom: 23px; */
    border: 1px solid black;
    height: 180px;
    width: 25%;
    padding: 4.5em 0;
    text-align: center;
    background: orange;
    border-radius: 5px;
}

.avatar {
    overflow: hidden;
    width: 74px;
    height: 74px;
    cursor: pointer;
    position: relative;
}

/* всплывающая подсказка при наведении */
.avatar:hover::after {
    position: absolute;
    z-index: 1;
    background: yellow;
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 3px;
    width: 74px;
    content: attr(data-title);
    left: -15%;
    top: 30%;
    text-align: center;
}

@media (min-width: 0px) and (max-width: 320px) {
    .advertising {
        bottom: 25px;
        width: 84.5%;
        height: 210px;
    }

    .postAddForm {
        /* background-color: white; */
        /* position: fixed; */
        /* position: absolute;
        overflow: hidden; */
        z-index: 750;
        right: 4%;
        left: 4%;
        top: 27%;
        font-size: 13px;
        /* border: 1px solid black;
        border-radius: 5px;
        padding: 7px; */
    }

    .postAddForm input,
    .postAddForm button {
        font-size: 13px;
    }

    .postAddForm div {
        margin-bottom: 3px;
    }
}
