/* @import url("https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap"); */

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* overflow: visible !important; */
    /* overflow: hidden; */
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.body_page {
    display: grid;
    grid-template-areas:
        "topBlock"
        "blockBelow";
    grid-template-rows:
        10%
        90%;
    /* grid-auto-rows: minmax(20%, auto); */
    grid-gap: 1em;
}

.topBlock {
    grid-area: topBlock;
    background-color: aqua;
    border-right: 1px solid gray;
}

.blockBelow {
    grid-area: blockBelow;
    background-color: orange;
}

.avatar {
    /* background-color: blue; */
    /* border: 5px solid rgb(161, 160, 160); */
    overflow: hidden;
    width: 74px;
    height: 74px;
    cursor: pointer;
    position: relative;
}

/* всплывающая подсказка при наведении */
.avatar:hover::after {
    /* overflow: visible; */
    position: absolute;
    /* position: relative; */
    z-index: 1;
    background: yellow;
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 3px;
    width: 74px;
    content: attr(data-title);
    /* padding-top: 32px;
    margin-left: 32px; */
    left: -15%;
    top: 30%;
    /* left: 54px;
    top: 31px; */
    /* padding-left: 35px; */
    text-align: center;
}

/* всплывающая подсказка при наведении для плеера */
.player:hover::after {
    /* overflow: visible; */
    position: absolute;
    /* position: relative; */
    z-index: 1;
    /* background: yellow; */
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 5px 10px;
    /* border: 1px solid #333; */
    /* border-radius: 3px; */
    width: 114px;
    content: attr(data-title);
    /* padding-top: 32px;
    margin-left: 32px; */
    left: -10%;
    top: 100%;
    /* left: 54px;
    top: 31px; */
    /* padding-left: 35px; */
    text-align: center;
}

.addPost,
.player {
    border: 0px;
    border-radius: 50px;
    cursor: pointer;
}

/* всплывающая подсказка при наведении для добавления поста */
.addPost:hover::after {
    /* overflow: visible; */
    position: absolute;
    /* position: relative; */
    z-index: 1;
    /* background: yellow; */
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 5px 10px;
    /* border: 1px solid #333; */
    /* border-radius: 3px; */
    width: 134px;
    content: attr(data-title);
    /* padding-top: 32px;
    margin-left: 32px; */
    left: 30%;
    top: 100%;
    /* left: 54px;
    top: 31px; */
    /* padding-left: 35px; */
    text-align: center;
}

.player:active,
.player:focus,
.addPost:active,
.addPost:focus {
    outline: none;
}

.postAddForm {
    /* background-color: orange; */
    position: fixed;
    right: 25px;
    top: 26%;
    overflow: hidden;
    z-index: 50;
}

.iconBtns {
    top: 32px;
    right: 32px;
    position: fixed;
}

/* .presents {
    font-family: "STIX Two Math", serif;
} */

.logo img:hover {
    transform: scale(1.2);
    transition-duration: 1.5s;
}

.logo img {
    width: 525px;
    height: 300px;
    overflow: hidden;
}

/* всплывающая подсказка при наведении на лого */
.logo:hover::after {
    /* overflow: visible; */
    position: absolute;
    /* position: relative; */
    z-index: 1;
    /* background: yellow; */
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 5px 10px;
    /* border: 1px solid #333;
    border-radius: 3px; */
    width: 194px;
    content: attr(data-title);
    /* padding-top: 32px;
    margin-left: 32px; */
    left: 35%;
    top: 25%;
    /* left: 54px;
    top: 31px; */
    /* padding-left: 35px; */
    text-align: center;
}
