@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: "STIX Two Math", serif;
    /* overflow: hidden; */
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.body_page {
    display: grid;
    grid-template-areas:
        "firstBlock firstBlock secondBlock secondBlock thirdBlock thirdBlock"
        "fourthBlock fourthBlock fifthBlock fifthBlock sixthBlock sixthBlock"
        "seventhBlock eighthBlock ninthBlock tenthBlock eleventhBlock twelfthBlock"
        "thirteenthBlock thirteenthBlock fourteenthBlock fourteenthBlock fifteenthBlock fifteenthBlock";

    /* grid-template-rows:
        10%
        90%; */
    /* grid-auto-rows: minmax(20%, auto); */

    grid-template-rows: 25% 25% 25% 10%;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;
    font-size: 15px;
}

.firstBlock {
    grid-area: firstBlock;
    /* background-color: yellow; */
}

.secondBlock {
    grid-area: secondBlock;
    /* background-color: green; */
    /* font-size: large; */
    /* text-align: center; */
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.thirdBlock {
    grid-area: thirdBlock;
    /* background-color: orange; */
    text-align: right;
}

.fourthBlock {
    grid-area: fourthBlock;
    /* background-color: rgb(0, 255, 200); */
}

.fifthBlock {
    grid-area: fifthBlock;
    /* background-color: rgb(150, 108, 137); */
    text-align: center;
    /* margin: auto; */
    /* display: flex; */
    display: inline-block;
    align-items: center;
    justify-content: center;
    z-index: 150;
}

.sixthBlock {
    grid-area: sixthBlock;
    /* background-color: rgb(255, 0, 179); */
    display: none;
}

.seventhBlock {
    grid-area: seventhBlock;
    /* background-color: rgb(255, 8, 0); */
    /* text-align: center; */
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.eighthBlock {
    grid-area: eighthBlock;
    /* background-color: rgb(94, 255, 0); */
    text-align: center;
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.ninthBlock {
    grid-area: ninthBlock;
    /* background-color: rgb(238, 255, 0); */
    text-align: center;
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.tenthBlock {
    grid-area: tenthBlock;
    /* background-color: rgb(25, 0, 255); */
    text-align: center;
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.eleventhBlock {
    grid-area: eleventhBlock;
    /* background-color: rgb(0, 255, 200); */
    text-align: center;
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.twelfthBlock {
    grid-area: twelfthBlock;
    /* background-color: rgb(0, 255, 98); */
    text-align: center;
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.thirteenthBlock {
    grid-area: thirteenthBlock;
    /* background-color: rgb(25, 0, 255); */
}

.fourteenthBlock {
    grid-area: fourteenthBlock;
    /* background-color: rgb(43, 255, 0); */
    /* text-align: center; */
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    color: rgb(83, 83, 83);
    /* margin-bottom: 23px; */
    font-size: 13px;

    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.fifteenthBlock {
    grid-area: fifteenthBlock;
    /* background-color: rgb(0, 255, 98); */
}

.twoAdvertBlock {
    display: none;
}

.iconsShare {
    margin: 15px 0 0 15px;
}

.iconsShare img {
    margin-right: 10px;
    width: 32px;
    cursor: pointer;
}

@media (min-width: 0px) and (max-width: 320px) {
    html,
    body {
        overflow: scroll;
    }

    .body_page {
        display: grid;
        grid-template-areas:
            "secondBlock thirdBlock"
            "fifthBlock fifthBlock"
            "sixthBlock sixthBlock"
            "seventhBlock seventhBlock"
            "eighthBlock eighthBlock"
            "ninthBlock ninthBlock"
            "tenthBlock tenthBlock"
            "eleventhBlock eleventhBlock"
            "twelfthBlock twelfthBlock"
            "fourteenthBlock fourteenthBlock";

        /* grid-template-rows:
        10%
        90%; */
        /* grid-auto-rows: minmax(20%, auto); */

        grid-template-rows: 15% 15% 15% 15% 15% 15% 15% 15% 15% 3%;
        grid-template-columns: 91% 0.1fr;
        grid-gap: 0.5em;
        /* font-size: 15px; */
    }

    .secondBlock {
        grid-area: secondBlock;
        /* display: none; */
        /* background-color: red; */
        /* font-size: large; */
        /* text-align: center; */
        /* text-align: right; */
        /* margin: auto; */
        /* display: flex;
        align-items: flex-start;
        justify-content: center; */
        margin-top: -42%;
        /* margin-left: 120px; */
        margin-left: -1%;
    }

    .fifthBlock {
        /* background-color: orange; */
        padding-left: 15px;
    }

    .sixthBlock {
        /* background-color: blue; */
        /* display: initial; */
        display: flex;
        align-items: center;
        justify-content: center;
        /* vertical-align: middle; */
    }

    .seventhBlock {
        /* background-color: red; */
        /* display: none; */
        padding-left: 30%;
        /* padding-top: 10%; */
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }

    .fourteenthBlock {
        /* background-color: rgb(43, 255, 0); */

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    html,
    body {
        overflow: scroll;
    }

    .body_page {
        display: grid;
        grid-template-areas:
            "secondBlock secondBlock secondBlock thirdBlock"
            "fifthBlock fifthBlock fifthBlock fifthBlock"
            "seventhBlock seventhBlock eighthBlock eighthBlock"
            "ninthBlock ninthBlock tenthBlock tenthBlock"
            "eleventhBlock eleventhBlock twelfthBlock twelfthBlock"
            "fourteenthBlock fourteenthBlock fourteenthBlock fourteenthBlock";

        /* grid-template-rows:
        10%
        90%; */
        /* grid-auto-rows: minmax(20%, auto); */

        grid-template-rows: 15% 20% 20% 20% 20% 5%;
        grid-template-columns: 24% 24% 24% 24% 0.1fr;
        grid-gap: 0.5em;
        /* font-size: 15px; */
    }

    .secondBlock {
        grid-area: secondBlock;
        /* display: none; */
        /* background-color: green; */
        /* font-size: large; */
        /* text-align: center; */
        /* text-align: right; */
        /* margin: auto; */
        /* display: flex;
        align-items: flex-start;
        justify-content: center; */
        margin-top: 2%;
        /* margin-left: 120px; */
        margin-left: 40%;
    }

    .fifthBlock {
        /* background-color: orange; */
        padding-left: 15px;
    }

    .sixthBlock {
        /* background-color: blue; */
        /* display: initial; */
        display: none;
        /* display: flex;
        align-items: center;
        justify-content: center; */
        /* vertical-align: middle; */
    }

    .seventhBlock {
        /* background-color: red; */
        /* display: none; */
        padding-left: 30%;
        /* padding-top: 10%; */
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }

    /* .eighthBlock {
        background-color: yellow;
    } */

    .fourteenthBlock {
        /* background-color: blue; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 481px) and (max-width: 640px) {
    html,
    body {
        overflow: scroll;
    }

    .body_page {
        display: grid;
        grid-template-areas:
            "secondBlock secondBlock secondBlock secondBlock secondBlock thirdBlock"
            "fifthBlock fifthBlock fifthBlock fifthBlock fifthBlock fifthBlock"
            "seventhBlock seventhBlock eighthBlock eighthBlock ninthBlock ninthBlock"
            "tenthBlock tenthBlock eleventhBlock eleventhBlock twelfthBlock twelfthBlock"
            "fourteenthBlock fourteenthBlock fourteenthBlock fourteenthBlock fourteenthBlock fourteenthBlock";

        /* grid-template-rows:
        10%
        90%; */
        /* grid-auto-rows: minmax(20%, auto); */

        grid-template-rows: 15% 30% 30% 30% 5%;
        grid-template-columns: 18% 18% 18% 18% 18% 0.1fr;
        grid-gap: 0.5em;
        /* font-size: 15px; */
    }

    .secondBlock {
        grid-area: secondBlock;
        /* display: none; */
        /* background-color: green; */
        /* font-size: large; */
        /* text-align: center; */
        /* text-align: right; */
        /* margin: auto; */
        /* display: flex;
        align-items: flex-start;
        justify-content: center; */
        margin-top: 2%;
        /* margin-left: 120px; */
        margin-left: 5%;
    }

    /* .thirdBlock {
        background-color: blue;
    } */

    .fifthBlock {
        /* background-color: orange; */
        padding-left: 15px;
    }

    .sixthBlock {
        /* background-color: blue; */
        /* display: initial; */
        display: none;
        /* display: flex;
        align-items: center;
        justify-content: center; */
        /* vertical-align: middle; */
    }

    .seventhBlock {
        /* background-color: red; */
        /* display: none; */
        padding-left: 30%;
        /* padding-top: 10%; */
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }

    /* .eighthBlock {
        background-color: yellow;
    } */

    .fourteenthBlock {
        /* background-color: blue; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 641px) and (max-width: 768px) {
    html,
    body {
        overflow: scroll;
    }

    .body_page {
        display: grid;
        grid-template-areas:
            "secondBlock secondBlock secondBlock secondBlock secondBlock thirdBlock"
            "fifthBlock fifthBlock fifthBlock fifthBlock fifthBlock fifthBlock"
            "seventhBlock seventhBlock eighthBlock eighthBlock ninthBlock ninthBlock"
            "tenthBlock tenthBlock eleventhBlock eleventhBlock twelfthBlock twelfthBlock"
            "fourteenthBlock fourteenthBlock fourteenthBlock fourteenthBlock fourteenthBlock fourteenthBlock";

        /* grid-template-rows:
        10%
        90%; */
        /* grid-auto-rows: minmax(20%, auto); */

        grid-template-rows: 15% 30% 30% 30% 5%;
        grid-template-columns: 18% 18% 18% 18% 18% 0.1fr;
        grid-gap: 0.5em;
        /* font-size: 15px; */
    }

    .secondBlock {
        grid-area: secondBlock;
        /* display: none; */
        /* background-color: green; */
        /* font-size: large; */
        /* text-align: center; */
        /* text-align: right; */
        /* margin: auto; */
        /* display: flex;
        align-items: flex-start;
        justify-content: center; */
        margin-top: 2%;
        /* margin-left: 120px; */
        margin-left: 5%;
    }

    /* .thirdBlock {
        background-color: blue;
    } */

    .fifthBlock {
        /* background-color: orange; */
        padding-left: 15px;
    }

    .sixthBlock {
        /* background-color: blue; */
        /* display: initial; */
        display: none;
        /* display: flex;
        align-items: center;
        justify-content: center; */
        /* vertical-align: middle; */
    }

    .seventhBlock {
        /* background-color: red; */
        /* display: none; */
        padding-left: 30%;
        /* padding-top: 10%; */
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }

    /* .eighthBlock {
        background-color: yellow;
    } */

    .fourteenthBlock {
        /* background-color: blue; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 769px) and (max-width: 999px) {
    html,
    body {
        overflow: scroll;
    }

    .body_page {
        display: grid;
        grid-template-areas:
            "secondBlock secondBlock secondBlock secondBlock secondBlock thirdBlock"
            "fifthBlock fifthBlock fifthBlock fifthBlock fifthBlock fifthBlock"
            "seventhBlock seventhBlock eighthBlock eighthBlock ninthBlock ninthBlock"
            "tenthBlock tenthBlock eleventhBlock eleventhBlock twelfthBlock twelfthBlock"
            "fourteenthBlock fourteenthBlock fourteenthBlock fourteenthBlock fourteenthBlock fourteenthBlock";

        /* grid-template-rows:
        10%
        90%; */
        /* grid-auto-rows: minmax(20%, auto); */

        grid-template-rows: 15% 30% 30% 30% 5%;
        grid-template-columns: 18% 18% 18% 18% 18% 0.1fr;
        grid-gap: 0.5em;
        /* font-size: 15px; */
    }

    .secondBlock {
        grid-area: secondBlock;
        /* display: none; */
        /* background-color: green; */
        /* font-size: large; */
        /* text-align: center; */
        /* text-align: right; */
        /* margin: auto; */
        /* display: flex;
        align-items: flex-start;
        justify-content: center; */
        margin-top: 2%;
        /* margin-left: 120px; */
        margin-left: 5%;
    }

    /* .thirdBlock {
        background-color: blue;
    } */

    .fifthBlock {
        /* background-color: orange; */
        padding-left: 15px;
    }

    .sixthBlock {
        /* background-color: blue; */
        /* display: initial; */
        display: none;
        /* display: flex;
        align-items: center;
        justify-content: center; */
        /* vertical-align: middle; */
    }

    .seventhBlock {
        /* background-color: red; */
        /* display: none; */
        padding-left: 30%;
        /* padding-top: 10%; */
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }

    /* .eighthBlock {
        background-color: yellow;
    } */

    .fourteenthBlock {
        /* background-color: blue; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
