.iconBtns {
    margin-top: -35%;
    padding-left: 8%;
    display: flex;
    cursor: pointer;
}

.iconBtns img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.player:hover::after,
.addPost:hover::after,
.statistics:hover::after {
    position: absolute;
    z-index: 150;
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 5px 10px;
    /* width: 114px; */
    content: attr(data-title);
    /* left: -10%; */
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: -25px;
    margin-left: -7%;
    /* top: 156px; */
    text-align: center;
}

.player:hover::after {
    width: 114px;
    left: -10%;
}

.addPost:hover::after {
    width: 134px;
    left: 30%;
}

.statistics:hover::after {
    width: 164px;
    left: 50%;
}

.statisticWindow {
    width: 320px;
    height: 120px;
    top: 139px;
    background-color: white;
    border: 1px solid black;
    z-index: 150;
    overflow: hidden;
    border-radius: 5px;
    position: fixed;
    margin-left: -0.5px;
    /* right: 20px; */
    padding: 7px;
}
