.menuWindow {
    position: absolute;
    right: 2%;
    top: 35px;
    width: 320px;
    height: 370px;
    z-index: 750;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.menuIcon {
    cursor: pointer;
    margin-right: 8px;
    margin-top: 8px;
}

.menuIcon:hover::after {
    position: absolute;
    z-index: 1;
    font-family: Arial, sans-serif;
    font-size: 9px;
    padding: 5px 10px;
    content: attr(data-title);
    top: 3px;
    right: 20px;
    width: 104px;
    text-align: center;
}

.mainMenuLabel {
    margin-top: 4px;
    margin-left: 23px;
}

.mainMenuLabelRight {
    margin-top: -23px;
    margin-left: 194px;
}

@media (min-width: 0px) and (max-width: 320px) {
    .menuWindow {
        width: 95%;
        height: 36%;
    }
}
