.shareIcons {
    display: flex;
    margin-top: 40%;
    padding-left: 8%;
    cursor: pointer;
}

.shareIcons img {
    max-width: 100%;
    width: 85%;
    height: auto;
}

.shareLabel {
    margin-top: -28%;
    margin-left: 7%;
}
