.shareIcons {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    margin-top: 114px;
    margin-left: 23px;
    /* display: none; */
}

.shareLabel {
    margin-top: -448px;
    margin-left: 23px;
    /* z-index: 100; */
}

.vkShare,
.fbShare,
.twtShare,
.okShare {
    cursor: pointer;
    display: inline-block;
    /* position: fixed; */
    /* top: 32px; */
}

.vkShare {
    left: 32px;
}

.fbShare {
    left: 112px;
}

.twtShare {
    left: 192px;
}

.okShare {
    left: 272px;
}

@media (min-width: 0px) and (max-width: 320px) {
    .shareLabel {
        margin-top: -390px;
        margin-left: 13px;
        /* z-index: 100; */
    }
    .shareIcons0 {
        /* background-color: red; */
        width: 100%;
        height: 100%;
        margin-top: 94px;
        margin-left: 7px;
        /* display: none; */
    }
    .shareIcons0 img {
        width: 64px;
        height: 64px;
    }

    .shareIcons {
        margin-top: 40%;
        display: flex;
        padding-right: 15%;
    }

    .shareIcons img {
        max-width: 100%;
        height: auto;
        width: 85%;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    .shareLabel {
        margin-top: -390px;
        margin-left: 13px;
        /* z-index: 100; */
    }
    .shareIcons0 {
        /* background-color: red; */
        width: 100%;
        height: 100%;
        margin-top: 94px;
        margin-left: 7px;
        /* display: none; */
    }
    .shareIcons0 img {
        width: 64px;
        height: 64px;
    }

    .shareIcons {
        margin-top: 40%;
        display: flex;
        padding-right: 15%;
    }

    .shareIcons img {
        max-width: 100%;
        height: auto;
        width: 85%;
    }
}

@media (min-width: 481px) and (max-width: 640px) {
    .shareLabel {
        margin-top: -390px;
        margin-left: 13px;
        /* z-index: 100; */
    }
    .shareIcons0 {
        /* background-color: red; */
        width: 100%;
        height: 100%;
        margin-top: 94px;
        margin-left: 7px;
        /* display: none; */
    }
    .shareIcons0 img {
        width: 64px;
        height: 64px;
    }

    .shareIcons {
        margin-top: 40%;
        display: flex;
        padding-right: 15%;
    }

    .shareIcons img {
        max-width: 100%;
        height: auto;
        width: 85%;
    }
}

@media (min-width: 641px) and (max-width: 768px) {
    .shareLabel {
        margin-top: -390px;
        margin-left: 13px;
        /* z-index: 100; */
    }
    .shareIcons0 {
        /* background-color: red; */
        width: 100%;
        height: 100%;
        margin-top: 94px;
        margin-left: 7px;
        /* display: none; */
    }
    .shareIcons0 img {
        width: 64px;
        height: 64px;
    }

    .shareIcons {
        margin-top: 40%;
        display: flex;
        padding-right: 15%;
    }

    .shareIcons img {
        max-width: 100%;
        height: auto;
        width: 85%;
    }
}

@media (min-width: 769px) and (max-width: 999px) {
    .shareLabel {
        margin-top: -390px;
        margin-left: 13px;
        /* z-index: 100; */
    }

    .shareIcons {
        margin-top: 40%;
        display: flex;
        padding-right: 15%;
    }

    .shareIcons img {
        max-width: 100%;
        height: auto;
        width: 85%;
    }
}
